{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Mentions légales</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ullam nam necessitatibus qui omnis ad, sed, sit blanditiis numquam a animi? Vitae quam repudiandae recusandae. Autem nobis officia laborum fugiat?</p>
{% endblock %}
